if user.screen.current
    if user.screen.transitioning
        a.badge.badge-light.badge-screen(href=`/screen/${user.screen.prev.id}`)
            | #{user.screen.prev.name}
        i.fas.fa-arrow-right.fa-fw.mx-1
        a.badge.badge-light.badge-screen(href=`/screen/${user.screen.next.id}`)
            | #{user.screen.next.name}

    else
        a.badge.badge-light.badge-screen(href=`/screen/${user.screen.current.id}`)
            | #{user.screen.current.name}
else
    i Unknown
