mixin screen(screen, gmView)
    if screen.showCode || (screen.codes && screen.codes.length)
        .d-flex.justify-content-center.mb-2
            .col-10.offset-1
                form#code-form
                    .alert.alert-warning.col-md-8.offset-md-2#code-feedback(role='alert')
                    input.form-control.rounded-pill.col-md-8.offset-md-2.bg-dark.text-light#code-entry(type="input", placeholder="Code")
    if screen.image_id
        .d-flex.justify-content-center.mb-1
            .lead.text-center#link-name.text-truncate(style="overflow:none") &nbsp;
        .d-flex.justify-content-center.mb-1.mw-100#screen-image-holder(data-height= gmView?350:null)
            image.imageHolder.map.mx-auto.img-fluid.mw-100#screen-image(src=screen.image.url, usemap='#screen-' + screen.id,style='max-height:60vh; max-width:100%')
            map(name= 'screen-' + screen.id, id=`screen-${screen.id}` )
                for area in screen.map
                    area(
                        id=`area-${area.uuid?area.uuid:area.id}`,
                        shape=area.shape,
                        coords=area.coords,
                        data-name=`${area.name}`,
                        data-groups=`${area.name},all`,
                        data-screen-id=screen.id
                        data-area=area.uuid?area.uuid:area.id
                        href='#',
                        target="_self",
                        data-maphilight='{}'
                        )
    .row
        .col !{screen.description}


mixin transition(transition, screens, groups, current)
    - const fromScreen = _.findWhere(screens, {id: transition.from_screen_id});
    - const toScreen = _.findWhere(screens, {id: transition.to_screen_id});
    - moment.relativeTimeThreshold('ss', 0);

    .card.m-1
        .card-header
            if current.id !== fromScreen.id
                a(href=`/screen/${fromScreen.id}`)= fromScreen.name
            else
                | #{fromScreen.name}
            i.fas.fa-arrow-right.fa-fw.mx-1
            if current.id !== toScreen.id
                a(href=`/screen/${toScreen.id}`)= toScreen.name
            else
                | #{toScreen.name}

            if transition.type === 'screen' && checkPermission('creator')
                .float-right
                    a.btn.btn-sm.btn-outline-info(
                        role=button,
                        href=`/transition/${transition.id}`
                        data-toggle="tooltip"
                        title="Edit Transition"
                    )
                        i.fa.fa-edit

        .card-body
            dl.row.py-0.my-0
                dt.col-5 Source
                dd.col-7
                    strong

                    case transition.type
                        when 'map'
                            strong.mr-1 Map:
                            span.map-highlight(data-area=transition.areaId)
                                | #{transition.name}
                                i.fa.fa-search.ml-1
                        when 'screen'
                            if transition.link_id
                               strong.mr-1 Code:
                               i.ml-1 #{links[transition.link_id].code}
                            else
                                strong Manual

                dt.col-5 Delay
                dd.col-7
                    if transition.delay
                        = moment.duration(transition.delay, "seconds").humanize()
                    else
                        i None

                dt.col-5 Player Group
                dd.col-7
                    if transition.group_id
                        = _.findWhere(groups, {id: transition.group_id}).name
                    else
                        i All


