extends ../layout

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/image/new')
            span(class="fa fa-plus")
            |  New Image


    .border.rounded.p-2.my-3
        .row
            .col
                h5.my-0 Filter:

            for type in ['screen', 'popup', 'inventory', 'item']
                .col
                     .custom-control.custom-switch
                        input.custom-control-input.image-filter(type="checkbox", id=`image-type-filter-${type}` checked=true data-type=type)
                        label.custom-control-label(for=`image-type-filter-${type}`)= capitalize(type)

    .row.row-cols-1.row-cols-md-4.pt-2
        for image in images
            .col.mb-4(class=`image-type-${image.type}`)
                .card
                    .card-header
                        .badge.badge-info.float-right=capitalize(image.type)

                        .card-title
                            h5= image.display_name?image.display_name:image.name
                            .badge.badge-primary.float-right=image.status
                            .small= image.display_name?image.name:''

                    img.card-img-top(src=image.url alt=image.display_name?image.display_name:image.name)
                    .card-body
                        if image.description
                            p.mt-2.card-text=image.description

                    if checkPermission('creator')
                        .card-footer
                            span.float-left
                                strong Id: #{image.id}
                            span.float-right
                                a.btn.btn-outline-info.btn-sm.mr-2(
                                    role="button",
                                    href=`/image/${image.id}`
                                    data-toggle="tooltip"
                                    title="Edit image"
                                )
                                    i.fas.fa-edit.fa-fw
                                a.btn.btn-outline-danger.btn-sm.delete-btn(
                                    role="button",
                                    url=`/image/${image.id}`,
                                    data-back='/image'
                                    data-toggle="tooltip"
                                    title="Delete image"
                                )
                                    i.fas.fa-trash.fa-fw

append scripts
    script(src='/javascripts/image.js')

