include ./partials/login

doctype html
html.h-100(lang="en")
    include ./partials/layout/head

    body.h-100
        nav.navbar.navbar-dark.bg-primary.navbar-expand-md.fixed-top
            include ./partials/layout/menu

        .container-fluid
            .float-left(aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px; z-index:9999")
                #toastHolder(style="position: absolute; top: 0; left: 0; min-width:350px; padding-top:10px")

        .d-flex.w-100.h-100.flex-grow-1.align-items-stretch
            .p-2.flex-grow-1#main-content
                if breadcrumbs
                    include ./partials/layout/breadcrumbs
                if (pageTitle)
                    .container(role="page_title")
                        if (typeof pageTitle === 'string')
                            h2=pageTitle
                        else
                            if (pageTitle.h1)
                                h1=pageTitle.h1
                            if (pageTitle.h2)
                                h2=pageTitle.h2
                            if (pageTitle.h3)
                                h3=pageTitle.h3
                            if (pageTitle.h4)
                                h4=pageTitle.h4

                include ./partials/layout/messages

                main.container.p-0.h-100(role="main")
                    block content

                if !activeUser
                    +login()

            if activeUser && includeChatSidebar
                include ./partials/layout/chatSidebar

include ./partials/layout/footer

