
.form-group
    label.control-label(for="transition_from_screen") From Screen
    select.custom-select.select2#transition_from_screen(name="transition[from_screen_id]",data-placeholder="Select a screen")
        option
        for screen in screens
            option(value=screen.id selected=transition.from_screen_id===screen.id)= screen.name

.form-group
    label.control-label(for="transition_to_screen") To Screen
    select.custom-select.select2#transition_to_screen(name="transition[to_screen_id]",data-placeholder="Select a screen")
        option
        for screen in screens
            option(value=screen.id selected=transition.to_screen_id===screen.id)= screen.name

.form-group
    label.control-label(for="transition_group_id") Player Group
    select.custom-select.select2#transition_group_id(name="transition[group_id]")
        option(selected=!transition.group_id value="-1") All
        for group in groups
            option(value=group.id selected=transition.group_id===group.id)= group.name

.form-group
    label.control-label(for="transition_delay") Delay (Seconds)
    input.form-control(type="number",placeholder="Delay in Seconds",name="transition[delay]",id="transition_delay", value=transition.delay)

.form-group
    button.btn.btn-primary(type="submit")= transition.id?'Update':'Create'
    a.btn.btn-link(href="/transition") Cancel


