.form-group
    label.control-label(for="game_name") Name
    input.form-control(type="text",placeholder="Character",name="game[name]",value=game.name,id='game_name')

.form-group
    label.control-label(for="game_site") Game Site URL
    input.form-control#game_site(type="url",placeholder="URL",name="game[site]",value=game.site)
    div.invalid-feedback Must be a valid, unique URL

.form-group
    label.control-label(for="game_description") Description (Front page)
    +htmlEditor('game_description', 'game[description]', 4, 200, game.description, true)

.form-group
    .custom-control.custom-switch
        input.custom-control-input#game_intercode_login(type="checkbox", name="game[intercode_login]", checked=game.intercode_login)
        label.custom-control-label(for="game_intercode_login") Use Intercode Login

.form-group
    .custom-control.custom-switch
        input.custom-control-input#game_default_to_player(type="checkbox", name="game[default_to_player]", checked=game.default_to_player)
        label.custom-control-label(for="game_default_to_player") Default new users to Players

.form-group
    label.control-label(for="game_theme") Theme
    select.custom-select.select2#game_theme(name="game[theme]" data-placeholder="Theme", required)
        option
        for theme in themes
            option(value=theme, selected=game.theme===theme)= theme

.form-group
    label.control-label(for="game_css") Custom CSS
    +cssEditor('game_css', 'game[css]', 5, 200, game.css)

if source
    fieldset.mb-2.border.p-2.rounded
        label Clone Options
        .form-group
            .custom-control.custom-switch
                input.custom-control-input#clone_fakeUsers(type="checkbox", name="clone[fakeUsers]", checked=clone.fakeUsers)
                label.custom-control-label(for="clone_fakeUsers") Fake Users

        fieldset
            label Optional Tables

            each val, name in clone.tables
                .form-group
                    .custom-control.custom-switch
                        input.custom-control-input(id=`clone_tables_${name}` type="checkbox", name=`clone[tables][${name}]`, checked=clone.tables[name])
                        label.custom-control-label(for=`clone_tables_${name}`)= name

.form-group
    button.btn.btn-primary(type="submit")= game.id?'Update':'Create'
    a.btn.btn-link(href="/admin/game") Cancel
